.navbar {
  padding: 25px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .hamburger {
  display: none;
  cursor: pointer;
}
.navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: hsl(213, 5%, 45%);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .navbar .hamburger {
    display: block;
    padding-right: 20px;
    z-index: 101;
  }
  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar .navMenu {
    z-index: 100;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    padding: 100px 0 0 40px;
    transition: 0.3s;
  }
  .navbar .navMenu.active {
    left: 0;
  }
  .navbar .navBranding.active {
    transition: all 0.3s ease-out;
    color: transparent;
  }
}
.navbar a {
  text-decoration: none;
}
.navbar .navBranding {
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}
.navbar .navMenu {
  flex-grow: 6;
  display: flex;
  justify-content: flex-start;
  gap: 5%;
}
.navbar li {
  list-style: none;
}
.navbar li .navLinks {
  color: hsl(219, 9%, 45%);
}
.navbar .cartProfile {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 15%;
}
.navbar .cartProfile .cartLogo {
  align-self: center;
  position: relative;
}
.navbar .cartProfile .cartLogo .numberOfProduct {
  background-color: #ff7d1b;
  border-radius: 10px;
  font-size: 10px;
  padding: 0 5px;
  position: absolute;
  bottom: 70%;
  left: 10px;
}
.navbar .cartProfile .profile img {
  height: 50px;
  width: auto;
}
.navbar .cartProfile .cartLogo, .navbar .cartProfile .profile:hover {
  cursor: pointer;
}
.navbar .cartProfile #cartOverlay {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: block;
  position: absolute;
  top: 110%;
  right: -20px;
  width: 350px;
  height: auto;
  box-shadow: 1px 10px 35px -4px rgba(0, 0, 0, 0.75);
  z-index: 999;
}
.navbar .cartProfile #cartOverlay #productList {
  flex-direction: column;
  justify-content: center;
}
.navbar .cartProfile #cartOverlay #productList .productImage {
  height: 50px;
  width: auto;
  border-radius: 5px;
}
.navbar .cartProfile #cartOverlay #productList .product {
  padding: 10px 0;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .cartProfile #cartOverlay #productList .product .deleteCart:hover {
  cursor: pointer;
}
.navbar .cartProfile #cartOverlay #productList .product .productInfo {
  padding: 0 15px;
  color: hsl(213, 5%, 45%);
}
.navbar .cartProfile #cartOverlay #productList .product .productInfo .totalPrice {
  font-weight: bold;
  color: #000;
}
.navbar .cartProfile #cartOverlay #productList .checkout {
  padding: 10px 0;
  font-weight: bold;
  color: #fff;
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .navbar .cartProfile #cartOverlay {
    width: 80vw;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px 0;
  }
}/*# sourceMappingURL=Navbar.css.map */